@page "/"
@using WordPressPCL
@using WordPressPCL.Models
@using WordPressPCL.Utility
@inject WordPressClient WPClient;

<div class="row">
    <div class="col blog-main">
        @if (null != _postsQuery)
        {
            <Posts Query="@_postsQuery"></Posts>
        }
    </div>
</div>

@code
{
    private static readonly PostsQueryBuilder _postsQuery = new PostsQueryBuilder()
    {
        Page = 1,
        PerPage = 10,
        Order = Order.DESC,
        OrderBy = PostsOrderBy.Date
    };
}
